body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;  
    flex-direction: column;
}

.next_button_step1_container{
    text-align: center;
}

#next_button_step1{
    background-color:white;
    color: violet;
    font-size: 28px;
    height: 50px;
    width: 100px;
}

.next_button_step2_container{
    text-align: center;
}

#next_button_step2{
    background-color:white;
    color: violet;
    font-size: 28px;
    height: 50px;
    width: 280px;
}

#next_button_step2:hover{
    background-color: violet;
    color: white;
}

#next_button_step1:hover{
    background-color: violet;
    color: white;
}

#image_input{
    background-color: white;
}

#display_image_img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
    border: 2px solid white;
    display: flex;
  }

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 10px;
}

.image-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid white;
    display: flex;
}

.image-item button {
    margin-top: 10px;
    background-color:white;
    color: violet;
    font-size: 16px;
    height: 30px;
    width: 120px;
}

.image-item button:hover{
    background-color: violet;
    color: white;
}
