<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Predictive Photoshop</title>
</head>

<body style="background: #000;">
  <div class="login">
    <h1 style="color:Violet;">Step 1: Upload your image here</h1>
    <br>
    <br>
    <!-- <form id="image_form" enctype="multipart/form-data" action="/upload-image" method="POST">
      <input type="file" id="image_input" name="image" required="required"/><br>
      <br>
      <div id="display_image">
        <img id="display_image_img" src="" alt="Uploaded Image">
      </div>
      <br>
      <br>
    </form> -->
  </div>
  <form method="post" enctype="multipart/form-data">
    {{form.hidden_tag()}}
    {% for error in form.photo.errors %} 
    <span style="color: red">
    {{ error}}
    </span>
    {% endfor %}
    <div class=" row justify-content-center">
      <div class="col-auto">
        {{form.photo(class= "form-control")}}
      </div>
      <div class="col-auto">
        {{ form.submit(class= "btn btn-success")}}
      </div>
    </div>
  </form>
  { % if file_url $}
    <div id="display_image">
      <img src="{{file_url}}" style="width: 400px">
    </div>
    <div class="next_button_step1_container">
      <button id="next_button_step1" type="button" class="btn btn-primary btn-block btn-large">Next</button>
    </div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
