<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Predictive Photoshop</title>
</head>

<body style="background: #000;">
  <h1 style="color:Violet;">Step 2: Choose Segmented Layers to Perform Object Completion</h1>
  <p style="color:white;">This is the next page where you can process the uploaded image.</p>
  
  <h3 style="color:Violet;">Original Image:</h3>
  <img id="uploaded_image" alt="Uploaded Image" src="" onload="loadUploadedImage()">
  
  <h3 style="color:Violet;">Segmented Layers from Image:</h3>
  <div class="image-grid">
    <div class="image-item">
      <!-- <img id="segmented_image1" class="segmented-image" alt="Segmented Image 1" src="" onload="loadUploadedImage()"> -->
      <img id="segment0" class="segmented-image" alt="Segmented Image 1" src="" onload="loadUploadedImage()">
      <button class="image-button" onclick="toggleButton(this)">Pick</button>
    </div>
    <div class="image-item">
      <img id="segment1" class="segmented-image" alt="Segmented Image 2" src="" onload="loadUploadedImage()">
      <button class="image-button" onclick="toggleButton(this)">Pick</button>
    </div>
    <div class="image-item">
      <img id="segment2" class="segmented-image" alt="Segmented Image 3" src="" onload="loadUploadedImage()">
      <button class="image-button" onclick="toggleButton(this)">Pick</button>
    </div>
    <!-- Add more segmented layers as needed. Beware that loadUploadedImage() function is modified to accept 
      the id of the image element to load.
      You will need to update the JavaScript code accordingly to handle the different image elements. -->
  </div>
  
  <br>
  <br>
  
  <div class="next_button_step2_container">
    <button id="next_button_step2" type="button" class="btn btn-primary btn-block btn-large">Complete Layers</button>
  </div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>