<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Third Page</title>
</head>
<body>
  <h1>Edit your Layer(s)</h1>
  <img id="uploaded_image" alt="Uploaded Image" src="" onload="loadUploadedImage()">

  <div>
    <label for="grayscale_slider">Grayscale: </label>
    <input id="grayscale_slider" type="range" min="0" max="100" value="0">
  </div>

  <div>
    <label for="blur_slider">Blur: </label>
    <input id="blur_slider" type="range" min="0" max="10" value="0">
  </div>

  <div>
    <label for="brightness_slider">Brightness: </label>
    <input id="brightness_slider" type="range" min="0" max="200" value="100">
  </div>

  <div>
    <label for="contrast_slider_js">Contrast: </label>
    <input id="contrast_slider_js" type="range" min="-100" max="100" value="0">
  </div>

  <!-- <div>
    <label for="contrast_slider">Contrast (using diy algorithm, not working well): </label>
    <input id="contrast_slider" type="range" min="-100" max="100" value="0">
  </div> -->

  <button id="save_button" type="button">Save Image</button>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
